
/* ------------------Allrights Footer--------------- */

.allrights {
  padding-bottom: 62px;
}
.rights {
  max-width: 721px;
  width: 100%;
}
.rights_add {
  color: #9E96A8;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: normal;
}